/* div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 5px solid black;
    margin: 5px;
    display: inline-block;
} */
/* #third{
    display: none;
} */
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 50px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: crimson;
    margin-left: 10%;
}
h1{
    border: 2px solid black;
    
    width: 50%;
}